WebApplication/WebApplication/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51966/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication" />
  <xs:import schemaLocation="http://localhost:51966/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisiler">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisilerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKisilerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad_soyad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_tc_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_kisi_durum_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_cikis_tarihi" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_birey_havuz" type="xs:int" />
        <xs:element minOccurs="0" name="_cocuk_havuz" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKisiEkleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOdaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOdaMekan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_mekanId" type="xs:int" />
        <xs:element minOccurs="0" name="_masaId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="urunMiktar" nillable="true" type="q3:ArrayOfstok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOdaMekanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOdaMekanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKartMekan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_id" type="xs:int" />
        <xs:element minOccurs="0" name="_mekanId" type="xs:int" />
        <xs:element minOccurs="0" name="_masaId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="urunMiktar" nillable="true" type="q4:ArrayOfstok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKartMekanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKartMekanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStokGrup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStokGrupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStokGrupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStokGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStokGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStokGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStokAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStokAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStokAdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStok">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStokResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBirim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBirimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBirimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBirimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBirimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepolar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepolarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDepolarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMekanDepo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mekanId" type="xs:int" />
        <xs:element minOccurs="0" name="depoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMekanDepoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMekanDepoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekanDepo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekanDepoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMekanDepoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPozisyon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPozisyonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPozisyonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPozisyon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPozisyonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPozisyonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonanim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonanimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDonanimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="p" nillable="true" type="q5:personel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPersonelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonelIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelDepo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelDepoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonelDepoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelDonanim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelDonanimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonelDonanimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelIdDonanim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelIdDonanimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonelIdDonanimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MekanStok">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mekanId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MekanStokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MekanStokResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStok">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceApplication.Model" minOccurs="0" name="s" nillable="true" type="q6:Stok" />
        <xs:element minOccurs="0" name="depoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStokResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisilerBakiye">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisilerBakiyeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKisilerBakiyeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisiDurum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisiDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKisiDurumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOdaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBosKart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBosKartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBosKartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoluKart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoluKartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoluKartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBakiyeEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_kartId" type="xs:int" />
        <xs:element minOccurs="0" name="_nakit_bakiye" type="xs:decimal" />
        <xs:element minOccurs="0" name="_kredi_kart_bakiye" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBakiyeEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBakiyeEkleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMekan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMekanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMekanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekanStok">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mekanId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekanStokResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMekanStokResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStockEksilt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="urun" nillable="true" type="q7:stok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStockEksiltResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStockEksiltResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="d" nillable="true" type="q8:depo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDepoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMekanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMekanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoluOda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoluOdaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDoluOdaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoUrun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="ss" nillable="true" type="q9:stok" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="d" nillable="true" type="q10:depo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoUrunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDepoUrunResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKartBakiye">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKartBakiyeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKartBakiyeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKartOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="kk" nillable="true" type="q11:kart" />
        <xs:element minOccurs="0" name="ilkTarih" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sonTarih" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKartOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKartOdemeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdaOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="oo" nillable="true" type="q12:oda" />
        <xs:element minOccurs="0" name="ilkTarih" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sonTarih" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdaOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOdaOdemeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisiBakiye">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="k" nillable="true" type="q13:kart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKisiBakiyeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKisiBakiyeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiKartCikis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="k" nillable="true" type="q14:kart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiKartCikisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKisiKartCikisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiOdaCikis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="oo" nillable="true" type="q15:oda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKisiOdaCikisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKisiOdaCikisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonelDepo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="p" nillable="true" type="q16:personel_depo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonelDepoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPersonelDepoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonelDonanim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="p" nillable="true" type="q17:personel_donanim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonelDonanimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPersonelDonanimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDonanim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="d" nillable="true" type="q18:donanim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDonanimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDonanimResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoYeniUrun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="s" nillable="true" type="q19:stok" />
        <xs:element minOccurs="0" name="depoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoYeniUrunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDepoYeniUrunResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepoUrun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="depoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepoUrunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDepoUrunResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoUrunEkle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceApplication" minOccurs="0" name="s" nillable="true" type="q20:stok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDepoUrunEkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDepoUrunEkleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStokAd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStokAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStokAdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdaUcret">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdaUcretResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOdaUcretResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTurResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>