WebApplication/WebApplication/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApplication.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApplication.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Stok">
    <xs:sequence>
      <xs:element minOccurs="0" name="adId" type="xs:int" />
      <xs:element minOccurs="0" name="birimId" type="xs:int" />
      <xs:element minOccurs="0" name="fiyat" type="xs:decimal" />
      <xs:element minOccurs="0" name="grupId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="miktar" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stok" nillable="true" type="tns:Stok" />
</xs:schema>